<% show_process_chain(@script.id).each do |process| %>

    <% show_process_chain(@script.id).each do |process| %>
    <%  end %>


    <%= content_tag(:a, class: "breadcrumb", id: process.id) do %>
        <li><%= process.to_s %></li>
    <% end %>
    <li>
      <%= link_to process, method: :delete, data: {confirm: 'Are you sure?'}, remote: true, onclick: "$(this).one('ajax:beforeSend',function(e) { $('##{process.id}').remove();});" do %>
          <i class="glyasdphicon glyphicon-remove"></i>
      <% end %>
    </li>
<% end %>