<div class="row_panel_build">
  <!--Row-->
  <input type="hidden" id="step" value="step1">
    <div class="row">
      <% @process_modules.each do |process| %>
          <div class="col-xs-4 col-md-2" id="row_panel_process">
            <%= link_to classification_value_chain_path(process.id, @script.id), :class => 'thumbnail text-center' do %>
                <%= image_tag("build.png") %>
                <div class="caption text-muted">
                  <strong><%= process.description %></strong>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>

</div>