<div class="row">
  <div class="col-sm-2">
    <div role='hub_process'>
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-2">
    <div role='hub_process'>
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-2">
    <div role='hub_process'>
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-2">
    <div role='hub_process'>
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div role='hub_process'>
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div role='hub_process'>
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>


