<ul class='nav nav-wizard'>

  <li><a href='#step1' data-toggle="tab">Step 1 - Completed</a></li>

  <li class='active'><a href='#step2' data-toggle="tab">Step 2 - Active</a></li>

  <li><a>Step 3 - Not Yet Reached</a></li>

</ul>