<div class="row">
  <div class="container">
    <div class="row bs-wizard" style="border-bottom:0;">
      <%= content_tag :div, class: "col-xs-3 bs-wizard-step #{@step_one or 'disabled'}" do -%>
          <!--<div class=col-xs-3 bs-wizard-step complete}">-->
          <div class="text-center bs-wizard-stepnum">1</div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Create Script</div>
          <!--</div>-->
      <% end %>
      <%= content_tag :div, class: "col-xs-3 bs-wizard-step #{@step_two or 'disabled'}" do -%>
          <!--<div class="col-xs-3 bs-wizard-step complete">&lt;!&ndash; complete &ndash;&gt;-->
          <div class="text-center bs-wizard-stepnum">2</div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a href="#" class="bs-wizard-dot"></a>

          <div class="bs-wizard-info text-center">Additional Information</div>
      <% end %>
      <!--</div>-->
      <%= content_tag :div, class: "col-xs-3 bs-wizard-step #{@step_three or 'disabled'}" do -%>
          <!--<div class="col-xs-3 bs-wizard-step active">&lt;!&ndash; complete &ndash;&gt;-->
          <div class="text-center bs-wizard-stepnum">3</div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a href="#" class="bs-wizard-dot"></a>

          <div class="bs-wizard-info text-center">Value Chain</div>
          <!--</div>-->
      <% end %>
      <%= content_tag :div, class: "col-xs-3 bs-wizard-step #{@finish or 'disabled'}" do -%>
          <!--<div class="col-xs-3 bs-wizard-step disabled">&lt;!&ndash; active &ndash;&gt;-->
          <div class="text-center bs-wizard-stepnum">4</div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a href="#" class="bs-wizard-dot"></a>

          <div class="bs-wizard-info text-center">Complete</div>
          <!--</div>-->
      <% end %>
    </div>
  </div>
</div>
<hr>