  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav nav-pills nav-wizard">
        <li class="active"><a href="#step1" data-toggle="tab" class="inactiveLink">Processo</a>

          <div class="nav-arrow"></div>
        </li>
        <li>
          <div class="nav-wedge"></div>
          <a href="#step2" data-toggle="tab" class="inactiveLink">Processo</a>

          <div class="nav-arrow"></div>
        </li>
        <li>
          <div class="nav-wedge"></div>
          <a href="#step3" data-toggle="tab" class="inactiveLink">Processo</a>

          <div class="nav-arrow"></div>
        </li>
        <li>
          <div class="nav-wedge"></div>
          <a href="#step4" data-toggle="tab" class="inactiveLink">Processo</a>

          <div class="nav-arrow"></div>
        </li>
        <li>
          <div class="nav-wedge"></div>
          <a href="#step5" data-toggle="tab" class="inactiveLink">Processo</a></li>
      </ul>
    </div>
  </div>