<div class="container-fluid">

  <div class="panel panel-default center">
    <div class="panel-heading center"><h1>Value Process Chain</h1></div>
    <div class="panel-body">
    <%= render 'process_steps' %>
        <div class="tab-content">
          <!--Step 1-->
          <div class="tab-pane active" id="step1">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">
                  <%= render 'build_process' %>
                  <a class="btn btn-default next" href="#">Continue</a>
                </div>
              </div>
            </div>
          </div>
          <!--Step 2-->
          <div class="tab-pane" id="step2">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">

                  <a class="btn btn-default next" href="#">Continue</a>
                </div>
              </div>
            </div>
          </div>
          <!--Step 3-->
          <div class="tab-pane" id="step3">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">

                  <a class="btn btn-default next" href="#">Continue</a>
                </div>
              </div>
            </div>
          </div>
          <!--Step 4-->
          <div class="tab-pane" id="step4">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">

                  <a class="btn btn-default next" href="#">Continue</a>
                </div>
              </div>
            </div>
          </div>
          <!--Step 5-->
          <div class="tab-pane" id="step5">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">

                  <a class="btn btn-success first" href="#">Start over</a>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>