<div class="container-fluid">

  <div class="panel panel-default center">
    <div class="panel-heading center">Value Process Chain</div>
    <div class="panel-body">

      <div class="container" id="myWizard">
        <div class="progress">
          <div class="progress-bar" id="progressbar" style="width: 0%;">
          </div>
        </div>
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav nav-pills nav-wizard">
              <li class="active"><a href="#step1" data-toggle="tab">Processo</a>

                <div class="nav-arrow"></div>
              </li>
              <li>
                <div class="nav-wedge"></div>
                <a href="#step2" data-toggle="tab">Processo</a>

                <div class="nav-arrow"></div>
              </li>
              <li>
                <div class="nav-wedge"></div>
                <a href="#step3" data-toggle="tab">Processo</a>

                <div class="nav-arrow"></div>
              </li>
              <li>
                <div class="nav-wedge"></div>
                <a href="#step4" data-toggle="tab">Processo</a>

                <div class="nav-arrow"></div>
              </li>
              <li>
                <div class="nav-wedge"></div>
                <a href="#step5" data-toggle="tab">Processo</a></li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <!--Step 1-->
          <div class="tab-pane active" id="step1">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">
                  <%= render 'build_process' %>
                  <a class="btn btn-default next" href="#">Continue</a>
                </div>
              </div>
            </div>
          </div>
          <!--Step 2-->
          <div class="tab-pane" id="step2">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">

                  <a class="btn btn-default next" href="#">Continue</a>
                </div>
              </div>
            </div>
          </div>
          <!--Step 3-->
          <div class="tab-pane" id="step3">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">

                  <a class="btn btn-default next" href="#">Continue</a>
                </div>
              </div>
            </div>
          </div>
          <!--Step 4-->
          <div class="tab-pane" id="step4">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">

                  <a class="btn btn-default next" href="#">Continue</a>
                </div>
              </div>
            </div>
          </div>
          <!--Step 5-->
          <div class="tab-pane" id="step5">
            <div class="panel panel-default">
              <div role="painel_process">
                <div class="panel-body">

                  <a class="btn btn-success first" href="#">Start over</a>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>