<div class="container-fluid">
  <div class="panel panel-default center">
    <div class="panel-heading center"><h1>Process</h1></div>
    <!--Painel Groupp-->
    <div class="panel-body" id="painel_body">
      <%= render 'classification_process' %>
    </div>
  </div>
</div>
</div>
</div>
