<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Admin Landing Page</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= render 'dash_dials_images' %>
    <%= render 'dash_dials_texts' %>
    <%= render 'dash_dials_banners' %>
  </div>
</div>