<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Minhas Licenças</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <%= link_to :back, class: 'btn btn-primary next' do %>
          <i class="fa fa-chevron-left"> <%= t 'labels.buttons.back' %></i>
      <% end %>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row" id="licenses_table_form">
        <div class="col-md-12">
          <%= render "licenses/licenses_table_form" %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_license" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Detalhes da Licença</h4>
      </div>
      <div class="modal-body">
        <dl>
          <dt><b>Descrição:</b></dt>
          <dd><span id="description"></span></dd>
          <dt><b>Chave:</b></dt>
          <dd><span id="key"></span></dd>
          <dt><b>Nome do Arquivo:</b></dt>
          <dd><span id="file_name"></span></dd>
          <dt><b>Desistência?</b></dt>
          <dd><span id="desistencia"></span></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
