<div id="wrapper">
  <%= render 'layouts/side_bar' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="page-header text-center">
        <h4> Owwwww  :S </h4>
        <h4> Este link não esta mais válido!!! </h4>
      </div>
    </div>
  </div>
</div>