<div class="row">
  <div class="col-md-12">
    <ul class='nav nav-wizard'>
      <li><a href='#step1' data-toggle="tab">1 - Create</a></li>
      <li class='active'><a href='#step2' data-toggle="tab">2 - Classification</a></li>
      <li><a>3 - Value Chain</a></li>
      <li><a>4 - Complete</a></li>
    </ul>
  </div>
</div>
<hr>