<div class="row">
  <div class="col-md-12">
    <ul class='nav nav-wizard'>
     <small>
       <% Status.all.each do |status| %>
           <%= generate_statsus_li status, @script %>
       <% end %>
     </small>

    </ul>
  </div>
</div>