<div class="row">
  <div class="col-md-12">
    <ul class='nav nav-wizard'>
        <% Status.all.each do |status| %>
            <% unless status.description == 'Inicial' %>
                <%= generate_statsus_li status, @script %>
            <% end %>
        <% end %>
    </ul>
  </div>
</div>