<div id="wrapper">
  <%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h1>Editing Addtional Infromation </h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form_additional_information' %>
      </div>
    </div>
  </div>
</div>
