<div class="container">
  <div class="panel panel-default center">
    <div class="panel-heading center"><h1>Create Script</h1></div>
    <div class="panel-body">
      <%= render 'value_chains/process_tracker' %>
      <%= render 'form' %>
    </div>
  </div>
</div>
