<%= render 'layouts/messages' %>
<div class="wrapper wrapper-content animated fadeIn grey-color">
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
