/* line 1, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard {
  margin-top: 40px;
}

/*Form Wizard*/
/* line 4, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

/* line 5, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

/* line 7, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 8, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

/* line 9, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #b6f6fb;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

/* line 10, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #2cb9fb;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

/* line 11, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

/* line 12, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #98fbf3;
}

/* line 13, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

/* line 14, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

/* line 15, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

/* line 16, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

/* line 17, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}

/* line 18, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

/* line 19, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

/* line 20, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

/* line 21, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bs-wizard.css.scss */
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*END Form Wizard*/
/* line 1, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard {
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  position: relative;
  overflow: hidden;
}

/* line 11, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard:before {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 46px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}

/* line 23, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}

/* line 35, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: middle;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 14px;
  line-height: 46px;
}

/* line 46, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard li a {
  color: #468847;
  padding: 0;
}

/* line 50, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard li a:hover {
  background-color: transparent;
}

/* line 53, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard li:before {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #d4d4d4;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
}

/* line 64, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard li:after {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #f9f9f9;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -15px;
}

/* line 75, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard li.active {
  color: #3a87ad;
  background: #d9edf7;
}

/* line 79, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard li.active:after {
  border-left: 16px solid #d9edf7;
}

/* line 82, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: #3a87ad;
  background: #d9edf7;
}

/* line 89, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard .active ~ li {
  color: #999999;
  background: #ededed;
}

/* line 93, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #ededed;
}

/* line 96, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}

/* line 103, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #468847;
  background: #f6fbfd;
}

/* line 107, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd;
}

/* line 110, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #468847;
  background: #f6fbfd;
}

/* line 117, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed;
}

/* line 121, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed;
}

/* line 124, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/bootstrap-nav-wizard.css.scss */
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}
/* line 7, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/scripts.scss */
.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 24, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/scripts.scss */
.ui-autocomplete > li {
  padding: 3px 20px;
}

/* line 28, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/scripts.scss */
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}

/* line 31, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/scripts.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 35, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/scripts.scss */
html, body {
  height: 100%;
}

/* line 39, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/scripts.scss */
.container, .panel {
  width: 100%;
}

/* line 43, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/scripts.scss */
.td_class_x1 {
  width: 80px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
