/* line 65, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
div[role="painel_process"] {
  height: 400px;
}

/* line 69, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
div[role="hub_process"] {
  height: 300px;
}

/* line 73, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
div[role="hub_process"] > div {
  height: 150px;
}

/* line 78, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.thumbnail {
  position: relative;
}

/* line 82, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.caption {
  position: absolute;
  top: 37%;
  left: 0;
  width: 100%;
}

/* line 89, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.white, .white a {
  color: #fff;
  background-color: transparent;
}

/* line 94, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.btn-group.active, .btn-group:active {
  background-color: #fff;
}

/* line 98, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.list_process {
  max-height: 167px;
  overflow-y: auto;
  height: 180px;
}

/* line 104, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
#list_process_chain {
  height: 100%;
  overflow-x: auto;
}

/* line 109, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.finish_process {
  margin-top: 65px;
  text-align: -webkit-center;
  height: 102px;
}

/* line 115, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.margem_left {
  margin-left: 10px;
}

/* line 119, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.border_col {
  box-shadow: #000 2px 2px 1px;
}

/* line 123, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

/* line 131, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

/* line 140, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/value_chains.scss */
.thumbnail:hover,
.thumbnail:hover a {
  color: #0088cc;
  background-color: #FFF;
}
