<%= form_for(@checking_account) do |f| %>
  <% if @checking_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checking_account.errors.count, "error") %> prohibited this checking_account from being saved:</h2>

      <ul>
      <% @checking_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
