<table class="table table-striped table-bordered table-hover">
  <thead>
  <th>Description</th>
  <th class="col-xs-1"></th>
  </thead>
  <tbody>
  <% RelatedScript.where("script_id = ? ", script.id).each do |r| %>
      <tr>
        <td><%= r.script.name %></td>
        <td class="col-xs-1"><%= link_to "Remove", {controller: :wizard_scripts, action: :destroy_related, related_script_id: r.id, script_id: script.id}, class: "btn btn-primary btn-xs", remote: true %></td>
      </tr>
  <% end %>
  </tbody>
</table>

