<table class="table table-striped table-bordered table-hover">
  <thead>
  <th><%= t 'labels.additional_information.description' %></th>
  <th class="col-xs-1"></th>
  </thead>
  <tbody>
  <% Requirement.where("script_id = ? ", script.id).each do |r| %>
      <tr>
        <% if r.requirement == '' %>
            <td><%= Script.find(r.script_id_requirement).name %></td>
        <% else %>
            <td><%= r.requirement %></td>
        <% end %>
        <td class="col-xs-1"> <%= link_to "Remove", {controller: :wizard_scripts, action: :destroy_requeriement, requirement_id: r.id, script_id: script.id}, class: "btn btn-primary btn-xs", remote: true %></td>
      </tr>
  <% end %>
  </tbody>
</table>
