<%= render 'layouts/messages' %>
<div class="wrapper wrapper-content animated fadeIn grey-color">
  <div class="row">
    <div class="col-md-12" id ='add_docs_import'>
      <%= render 'wizard_scripts/add_docs_content' %>
    </div>
  </div>
</div>