<div id="wrapper">
  <%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h1>Process</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render 'classification_process' %>
      </div>
    </div>
  </div>
</div>

