<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t 'labels.classification.process' %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'classification_process' %>
    </div>
  </div>
</div>

