<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2><%= t 'labels.classification.process' %></h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <%= render 'classification_process' %>
    </div>
  </div>
</div>

