<table class="table table-striped table-condensed responsive" id="master-user-table" data-source="<%= master_user_ajax_users_path(current_user: current_user, format: :json) %>">
  <thead>
  <th>Id</th>
  <th><%= t 'labels.member_attributes.member_name' %></th>
  <th><%= t 'labels.member_attributes.company_name' %></th>
  <th>Email</th>
  <th>Status</th>
  <th>Confirmado?</th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  </tbody>
</table>

