<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h1>Autenticador</h1>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <p>Geração do token para login na aplicão JAVA Client Klustter</p>
    <smal>Este token é gerado automaticamente a cada 60 segundos</smal>
    <hr>
    <div id="token">
      <%= render 'users/token' %>
    </div>
  </div>
</div>