<%= render 'layouts/messages' %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-12">
      <h1>Autenticador</h1>
      <p>Geração do token para login na aplicão JAVA Client Klustter</p>
      <smal>Este token é gerado automaticamente a cada 60 segundos</smal>
    </div>
  </div>
  <hr>
  <br>
  <did id="token">
    <%= render 'users/token' %>
  </did>
</div>