<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2><%= t 'labels.user_attribures.user' %></h2>
  </div>
</div>

<div class="row wrapper border-bottom">
  <div><%= render 'users/form' %></div>
</div>

