<div id="wrapper">
  <%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h1>User </h1>
      </div>
    </div>
    <hr>
   <div><%= render 'users/form' %></div>
  </div>
</div>