<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2><%= t 'labels.master_user.page_header' %></h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn ">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <%= link_to "#{t 'labels.user_attribures.new_user'}", master_registration_users_path, class: 'btn btn-success' %>
        </div>
      </div>
      <hr>
      <%= render 'form_master_user' %>

    </div>
  </div>
</div>
