<%= render 'layouts/messages' %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t 'labels.master_user.page_header'%> </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "#{t 'labels.user_attribures.new_user'}", master_registration_users_path, class: 'btn btn-success' %>
    </div>
  </div>
  <hr>
  <%= render 'form_master_user' %>
</div>
