<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Editar Modulo de Processo</h2>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Mostrar', @process_module, class: 'btn btn-primary' %>
      <%= link_to 'Voltar', process_modules_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <br>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>