<%= render 'layouts/messages' %>
<div class="row wrapper border-bottom white-bg page-heading">
  <h1>New Process Module</h1>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Back', process_modules_path, class:'btn btn-primary' %>
    </div>
  </div>
  <br>
  <%= render 'form' %>
</div>
