/* line 3, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}

/* line 13, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
}

/* line 25, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-primary, .badge-primary {
  background-color: #1ab394;
  color: white;
}

/* line 30, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-success, .badge-success {
  background-color: #1c84c6;
  color: white;
}

/* line 35, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-warning, .badge-warning {
  background-color: #f8ac59;
  color: white;
}

/* line 40, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-warning-light, .badge-warning-light {
  background-color: #f8ac59;
  color: white;
}

/* line 45, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-danger, .badge-danger {
  background-color: #ed5565;
  color: white;
}

/* line 50, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-info, .badge-info {
  background-color: #23c6c8;
  color: white;
}

/* line 55, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-inverse, .badge-inverse {
  background-color: #262626;
  color: white;
}

/* line 60, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-white, .badge-white {
  background-color: white;
  color: #5e5e5e;
}

/* line 65, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/badgets_labels.scss */
.label-white, .badge-disable {
  background-color: #2a2e36;
  color: #8b91a0;
}
