/* line 3, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

/* line 12, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
html, body {
  height: 100%;
}

/* line 17, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
  height: 100%;
}

/* line 22, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
#page-wrapper {
  min-height: auto;
}

/* line 26, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.boxed-layout {
  background: url(/assets/patterns/shattered-241155c2a3436bfc0a542fc31fe2908ff2bdfc90e1ac7e26c6ba715b01030dcf.png);
}

/* line 30, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.boxed-layout #wrapper {
  background-color: #2f4050;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* line 39, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.top-navigation.boxed-layout #wrapper,
.boxed-layout #wrapper.top-navigation {
  max-width: 1300px !important;
}

/* line 44, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.block {
  display: block;
}

/* line 48, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.clear {
  display: block;
  overflow: hidden;
}

/* line 53, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
a {
  cursor: pointer;
}

/* line 57, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 61, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}

/* line 65, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.font-bold {
  font-weight: 600;
}

/* line 69, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.font-noraml {
  font-weight: 400;
}

/* line 75, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 79, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.b-r {
  border-right: 1px solid #e7eaec;
}

/* line 83, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

/* line 91, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.hr-line-solid {
  border-bottom: 1px solid #e7eaec;
  background-color: transparent;
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 99, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
video {
  width: 100%    !important;
  height: auto   !important;
}

/* GALLERY */
/* line 105, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.gallery > .row > div {
  margin-bottom: 15px;
}

/* line 109, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.fancybox img {
  margin-bottom: 5px;
  /* Only for demo */
  width: 24%;
}

/* Summernote text editor  */
/* line 116, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.note-editor {
  height: auto !important;
  min-height: 300px;
}

/* MODAL */
/* line 122, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}

/* line 132, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.modal-dialog {
  z-index: 2200;
}

/* line 136, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.modal-body {
  padding: 20px 30px 30px 30px;
}

/* line 141, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.inmodal .modal-body {
  background: #f8fafb;
}

/* line 145, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
}

/* line 150, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* line 157, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.inmodal .modal-title {
  font-size: 26px;
}

/* line 161, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}

/* line 166, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.modal-footer {
  margin-top: 0;
}

/* WRAPPERS */
/* line 173, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
#wrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 179, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.wrapper {
  padding: 0 20px;
}

/* line 183, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.wrapper-content {
  padding: 20px 10px 40px;
}

/* line 187, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}

@media (min-width: 768px) {
  /* line 194, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 1000px;
  }
}
/* line 201, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.title-action {
  text-align: right;
  padding-top: 30px;
}

/* line 206, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5,
.ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
  margin-top: 5px;
}

/* line 211, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
ul.unstyled, ol.unstyled {
  list-style: none outside none;
  margin-left: 0;
}

/* line 216, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.big-icon {
  font-size: 160px !important;
  color: #e5e6e7;
}

/* FOOTER */
/* line 224, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}

/* line 235, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.footer.fixed_full {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #e7eaec;
}

/* line 246, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #e7eaec;
  margin-left: 220px;
}

/* line 258, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 70px;
}

/* line 263, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.mini-navbar.canvas-menu .footer.fixed,
body.canvas-menu .footer.fixed {
  margin: 0 !important;
}

/* line 268, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.fixed-sidebar.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 220px;
}

/* line 272, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.body-small .footer.fixed {
  margin-left: 0px;
}

/* PANELS */
/* line 278, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.page-heading {
  border-top: 0;
  padding: 0px 10px 20px 10px;
}

/* line 283, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-heading h1, .panel-heading h2 {
  margin-bottom: 5px;
}

/* TABLES */
/* line 289, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.table-bordered {
  border: 1px solid #EBEBEB;
}

/* line 293, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  background-color: #F5F5F6;
  border-bottom-width: 1px;
}

/* line 298, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}

/* line 302, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}

/* line 307, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

/* PANELS */
/* line 316, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel.blank-panel {
  background: none;
  margin: 0;
}

/* line 321, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.blank-panel .panel-heading {
  padding-bottom: 0;
}

/* line 325, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none;
  border-color: #DDDDDD #DDDDDD transparent;
  border-bottom: #f3f3f4;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #555555;
  cursor: default;
}

/* line 340, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.nav.nav-tabs li {
  background: none;
  border: none;
}

/* line 345, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.nav-tabs > li > a {
  color: #A7B1C2;
  font-weight: 600;
  padding: 10px 20px 10px 25px;
}

/* line 351, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #e6e6e6;
  color: #676a6c;
}

/* line 356, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ui-tab .tab-content {
  padding: 20px 0px;
}

/* GLOBAL  */
/* line 362, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.no-padding {
  padding: 0 !important;
}

/* line 366, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.no-borders {
  border: none !important;
}

/* line 370, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.no-margins {
  margin: 0 !important;
}

/* line 374, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.no-top-border {
  border-top: 0 !important;
}

/* line 378, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-content.text-box {
  padding-bottom: 0px;
  padding-top: 15px;
}

/* line 383, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.border-left-right {
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
  border-top: none;
  border-bottom: none;
}

/* line 390, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.border-left {
  border-left: 1px solid #e7eaec;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

/* line 397, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.border-right {
  border-left: none;
  border-right: 1px solid #e7eaec;
  border-top: none;
  border-bottom: none;
}

/* line 404, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.full-width {
  width: 100% !important;
}

/* line 408, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.link-block {
  font-size: 12px;
  padding: 10px;
}

/* line 413, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.nav.navbar-top-links .link-block a {
  font-size: 12px;
}

/* line 417, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.link-block a {
  font-size: 10px;
  color: inherit;
}

/* line 423, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.mini-navbar .branding {
  display: none;
}

/* line 427, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
img.circle-border {
  border: 6px solid #FFFFFF;
  border-radius: 50%;
}

/* line 432, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.branding {
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  background-color: #1ab394;
}

/* line 442, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.login-panel {
  margin-top: 25%;
}

/* line 446, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.icons-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 451, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.icons-box .infont a i {
  font-size: 25px;
  display: block;
  color: #676a6c;
}

/* line 457, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.icons-box .infont a {
  color: #a6a8a9;
}

/* line 461, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.icons-box .infont a {
  padding: 10px;
  margin: 1px;
  display: block;
}

/* line 468, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ui-draggable .ibox-title {
  cursor: move;
}

/* line 472, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}

/* line 478, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.breadcrumb > li a {
  color: inherit;
}

/* line 482, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.breadcrumb > .active {
  color: inherit;
}

/* line 486, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
code {
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #ca4440;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap;
}

/* line 495, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

/* line 502, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox.collapsed .ibox-content {
  display: none;
}

/* line 505, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}

/* line 508, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

/* line 512, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox:after, .ibox:before {
  display: table;
}

/* line 516, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

/* line 532, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-content {
  background-color: white;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

/* line 543, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

/* line 551, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
table.table-mail tr td {
  padding: 12px;
}

/* line 555, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.table-mail .check-mail {
  padding-left: 20px;
}

/* line 559, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.table-mail .mail-date {
  padding-right: 20px;
}

/* line 563, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.star-mail, .check-mail {
  width: 40px;
}

/* line 567, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.unread td a, .unread td {
  font-weight: 600;
  color: inherit;
}

/* line 572, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.read td a, .read td {
  font-weight: normal;
  color: inherit;
}

/* line 577, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.unread td {
  background-color: #f9f8f8;
}

/* line 581, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-content {
  clear: both;
}

/* line 585, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}

/* line 590, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}

/* line 595, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

/* line 604, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-title .label {
  float: left;
  margin-left: 4px;
}

/* line 609, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}

/* line 618, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}

/* line 624, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-tools a.btn-primary {
  color: #fff;
}

/* line 628, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
}

/* line 633, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox .ibox-tools.open > .dropdown-menu {
  left: auto;
  right: 0;
}

/* BACKGROUNDS */
/* line 640, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.gray-bg {
  background-color: #f3f3f4;
}

/* line 644, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.white-bg {
  background-color: #ffffff;
}

/* line 648, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}

/* line 653, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.blue-bg {
  background-color: #1c84c6;
  color: #ffffff;
}

/* line 658, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}

/* line 663, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.green-bg {
  background-color: #1ab394;
  color: #ffffff;
}

/* line 668, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}

/* line 673, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.yellow_lazy-bg {
  background-color: #ffcc00;
  color: #ffffff;
}

/* line 678, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}

/* line 683, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.orange-bg {
  background-color: #edad0b;
  color: #ffffff;
}

/* line 688, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.black-bg {
  background-color: #262626;
}

/* line 692, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-primary {
  border-color: #1ab394;
}

/* line 696, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-primary > .panel-heading {
  background-color: #1ab394;
  border-color: #1ab394;
}

/* line 701, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-success {
  border-color: #1c84c6;
}

/* line 705, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-success > .panel-heading {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #ffffff;
}

/* line 711, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-info {
  border-color: #23c6c8;
}

/* line 715, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-info > .panel-heading {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #ffffff;
}

/* line 721, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-warning {
  border-color: #f8ac59;
}

/* line 725, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-warning > .panel-heading {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #ffffff;
}

/* line 731, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-danger {
  border-color: #ed5565;
}

/* line 735, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-danger > .panel-heading {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #ffffff;
}

/* line 741, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-bar {
  background-color: #1ab394;
}

/* line 745, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-small, .progress-small .progress-bar {
  height: 10px;
}

/* line 749, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-small, .progress-mini {
  margin-top: 5px;
}

/* line 753, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-mini, .progress-mini .progress-bar {
  height: 5px;
  margin-bottom: 0px;
}

/* line 758, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-bar-navy-light {
  background-color: #3dc7ab;
}

/* line 762, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-bar-success {
  background-color: #1c84c6;
}

/* line 766, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-bar-info {
  background-color: #23c6c8;
}

/* line 770, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-bar-warning {
  background-color: #f8ac59;
}

/* line 774, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.progress-bar-danger {
  background-color: #ed5565;
}

/* line 778, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.panel-title {
  font-size: inherit;
}

/* line 782, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.jumbotron {
  border-radius: 6px;
  padding: 40px;
}

/* line 787, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.jumbotron h1 {
  margin-top: 0;
}

/* COLORS */
/* line 793, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-navy {
  color: #1ab394;
}

/* line 797, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-primary {
  color: inherit;
}

/* line 801, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-success {
  color: #1c84c6;
}

/* line 805, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-info {
  color: #23c6c8;
}

/* line 809, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-warning {
  color: #f8ac59;
}

/* line 813, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-danger {
  color: #ed5565;
}

/* line 817, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-muted {
  color: #888888;
}

/* line 821, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.text-white {
  color: #ffffff;
}

/* line 825, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.simple_tag {
  background-color: #f3f3f4;
  border: 1px solid #e7eaec;
  border-radius: 2px;
  color: inherit;
  font-size: 10px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 12px;
  display: inline-block;
}

/* line 837, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.img-shadow {
  -webkit-box-shadow: 0px 0px 3px 0px #919191;
  -moz-box-shadow: 0px 0px 3px 0px #919191;
  box-shadow: 0px 0px 3px 0px #919191;
}

/* For handle diferent bg color in AngularJS version */
/* line 844, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.dashboards\.dashboard_2 nav.navbar,
.dashboards\.dashboard_3 nav.navbar,
.mailbox\.inbox nav.navbar,
.mailbox\.email_view nav.navbar,
.mailbox\.email_compose nav.navbar,
.dashboards\.dashboard_4_1 nav.navbar,
.metrics nav.navbar, .metrics\.index nav.navbar,
.dashboards\.dashboard_5 nav.navbar {
  background: #fff;
}

/* For handle diferent bg color in MVC version */
/* line 857, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.Dashboard_2 .navbar.navbar-static-top,
.Dashboard_3 .navbar.navbar-static-top,
.Dashboard_4_1 .navbar.navbar-static-top,
.ComposeEmail .navbar.navbar-static-top,
.EmailView .navbar.navbar-static-top,
.Inbox .navbar.navbar-static-top,
.Metrics .navbar.navbar-static-top,
.Dashboard_5 .navbar.navbar-static-top {
  background: #fff;
}

/* line 871, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
a.close-canvas-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1011;
  color: #a7b1c2;
}

/* line 879, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
a.close-canvas-menu:hover {
  color: #fff;
}

/* FULL HEIGHT */
/* line 886, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.full-height {
  height: 100%;
}

/* line 890, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.fh-breadcrumb {
  height: calc(100% - 196px);
  margin: 0 -15px;
  position: relative;
}

/* line 896, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.fh-no-breadcrumb {
  height: calc(100% - 99px);
  margin: 0 -15px;
  position: relative;
}

/* line 902, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.fh-column {
  background: #fff;
  height: 100%;
  width: 240px;
  float: left;
}

/* line 909, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.modal-backdrop {
  z-index: 2040 !important;
}

/* line 913, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.modal {
  z-index: 2050 !important;
}

/* line 917, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.spiner-example {
  height: 200px;
  padding-top: 70px;
}

/* MARGINS & PADDINGS */
/* line 924, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-xxs {
  padding: 5px;
}

/* line 928, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-xs {
  padding: 10px;
}

/* line 932, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-sm {
  padding: 15px;
}

/* line 936, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-m {
  padding: 20px;
}

/* line 940, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-md {
  padding: 25px;
}

/* line 944, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-lg {
  padding: 30px;
}

/* line 948, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-xl {
  padding: 40px;
}

/* line 952, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-w-xs {
  padding: 0 10px;
}

/* line 956, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-w-sm {
  padding: 0 15px;
}

/* line 961, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-w-m {
  padding: 0 20px;
}

/* line 966, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-w-md {
  padding: 0 25px;
}

/* line 971, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-w-lg {
  padding: 0 30px;
}

/* line 976, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.p-w-xl {
  padding: 0 40px;
}

/* line 981, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-xxs {
  margin: 2px 4px;
}

/* line 985, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-xs {
  margin: 5px;
}

/* line 989, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-sm {
  margin: 10px;
}

/* line 993, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m {
  margin: 15px;
}

/* line 997, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-md {
  margin: 20px;
}

/* line 1001, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-lg {
  margin: 30px;
}

/* line 1005, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-xl {
  margin: 50px;
}

/* line 1009, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-n {
  margin: 0 !important;
}

/* line 1013, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-none {
  margin-left: 0;
}

/* line 1017, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-xs {
  margin-left: 5px;
}

/* line 1021, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-sm {
  margin-left: 10px;
}

/* line 1025, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l {
  margin-left: 15px;
}

/* line 1029, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-md {
  margin-left: 20px;
}

/* line 1033, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-lg {
  margin-left: 30px;
}

/* line 1037, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-xl {
  margin-left: 40px;
}

/* line 1041, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-n-xxs {
  margin-left: -1px;
}

/* line 1045, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-n-xs {
  margin-left: -5px;
}

/* line 1049, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-n-sm {
  margin-left: -10px;
}

/* line 1053, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-n {
  margin-left: -15px;
}

/* line 1057, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-n-md {
  margin-left: -20px;
}

/* line 1061, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-n-lg {
  margin-left: -30px;
}

/* line 1065, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-l-n-xl {
  margin-left: -40px;
}

/* line 1069, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-none {
  margin-top: 0;
}

/* line 1073, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-xxs {
  margin-top: 1px;
}

/* line 1077, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-xs {
  margin-top: 5px;
}

/* line 1081, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-sm {
  margin-top: 10px;
}

/* line 1085, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t {
  margin-top: 15px;
}

/* line 1089, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-md {
  margin-top: 20px;
}

/* line 1093, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-lg {
  margin-top: 30px;
}

/* line 1097, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-xl {
  margin-top: 40px;
}

/* line 1101, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-n-xxs {
  margin-top: -1px;
}

/* line 1105, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-n-xs {
  margin-top: -5px;
}

/* line 1109, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-n-sm {
  margin-top: -10px;
}

/* line 1113, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-n {
  margin-top: -15px;
}

/* line 1117, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-n-md {
  margin-top: -20px;
}

/* line 1121, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-n-lg {
  margin-top: -30px;
}

/* line 1125, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-t-n-xl {
  margin-top: -40px;
}

/* line 1129, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-none {
  margin-right: 0;
}

/* line 1133, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-xxs {
  margin-right: 1px;
}

/* line 1137, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-xs {
  margin-right: 5px;
}

/* line 1141, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-sm {
  margin-right: 10px;
}

/* line 1145, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r {
  margin-right: 15px;
}

/* line 1149, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-md {
  margin-right: 20px;
}

/* line 1153, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-lg {
  margin-right: 30px;
}

/* line 1157, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-xl {
  margin-right: 40px;
}

/* line 1161, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-n-xxs {
  margin-right: -1px;
}

/* line 1165, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-n-xs {
  margin-right: -5px;
}

/* line 1169, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-n-sm {
  margin-right: -10px;
}

/* line 1173, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-n {
  margin-right: -15px;
}

/* line 1177, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-n-md {
  margin-right: -20px;
}

/* line 1181, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-n-lg {
  margin-right: -30px;
}

/* line 1185, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-r-n-xl {
  margin-right: -40px;
}

/* line 1189, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-none {
  margin-bottom: 0;
}

/* line 1193, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-xxs {
  margin-bottom: 1px;
}

/* line 1197, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-xs {
  margin-bottom: 5px;
}

/* line 1201, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-sm {
  margin-bottom: 10px;
}

/* line 1205, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b {
  margin-bottom: 15px;
}

/* line 1209, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-md {
  margin-bottom: 20px;
}

/* line 1213, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-lg {
  margin-bottom: 30px;
}

/* line 1217, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-xl {
  margin-bottom: 40px;
}

/* line 1221, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-n-xxs {
  margin-bottom: -1px;
}

/* line 1225, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-n-xs {
  margin-bottom: -5px;
}

/* line 1229, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-n-sm {
  margin-bottom: -10px;
}

/* line 1233, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-n {
  margin-bottom: -15px;
}

/* line 1237, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-n-md {
  margin-bottom: -20px;
}

/* line 1241, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-n-lg {
  margin-bottom: -30px;
}

/* line 1245, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.m-b-n-xl {
  margin-bottom: -40px;
}

/* line 1249, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.space-15 {
  margin: 15px 0;
}

/* line 1253, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.space-20 {
  margin: 20px 0;
}

/* line 1257, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.space-25 {
  margin: 25px 0;
}

/* line 1261, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.space-30 {
  margin: 30px 0;
}

/* line 1267, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.modal-open {
  padding-right: inherit !important;
}

/* line 1271, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.fullscreen-ibox-mode .animated {
  animation: none;
}

/* line 1275, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.fullscreen-ibox-mode {
  overflow-y: hidden;
}

/* line 1279, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox.fullscreen {
  z-index: 2030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin-bottom: 0;
}

/* line 1290, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox.fullscreen .collapse-link {
  display: none;
}

/* line 1294, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
.ibox.fullscreen .ibox-content {
  min-height: calc(100% - 48px);
}

/* line 1300, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.modal-open {
  padding-right: inherit !important;
}

/* line 1303, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.modal-open .animated {
  animation-fill-mode: initial;
}

/* Show profile dropdown on fixed sidebar */
/* line 1306, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.mini-navbar.fixed-sidebar .profile-element, .block {
  display: block !important;
}

/* line 1310, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.mini-navbar.fixed-sidebar .nav-header {
  padding: 33px 25px;
}

/* line 1314, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/base.scss */
body.mini-navbar.fixed-sidebar .logo-element {
  display: none;
}
