/* Only demo */
@media (max-width: 1000px) {
  /* line 5, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/custom.scss */
  .welcome-message {
    display: none;
  }
}
/* line 10, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/custom.scss */
.lightBoxGallery {
  text-align: center;
}

/* line 14, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/custom.scss */
.lightBoxGallery img {
  margin: 5px;
}
