/* SEARCH PAGE */
/* line 5, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.search-form {
  margin-top: 10px;
}

/* line 9, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.search-result h3 {
  margin-bottom: 0;
  color: #1e0fbe;
}

/* line 14, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.search-result .search-link {
  color: #006621;
}

/* line 18, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.search-result p {
  font-size: 12px;
  margin-top: 5px;
}

/* CONTACTS */
/* line 25, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.contact-box {
  background-color: white;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 32, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.contact-box > a {
  color: inherit;
}

/* line 36, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}

/* line 42, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* line 49, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 56, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.contact-box.center-version address {
  margin-bottom: 0;
}

/* line 60, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}

/* INVOICE */
/* line 69, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.invoice-table tbody > tr > td:last-child, .invoice-table tbody > tr > td:nth-child(4), .invoice-table tbody > tr > td:nth-child(3), .invoice-table tbody > tr > td:nth-child(2) {
  text-align: right;
}

/* line 73, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.invoice-table thead > tr > th:last-child, .invoice-table thead > tr > th:nth-child(4), .invoice-table thead > tr > th:nth-child(3), .invoice-table thead > tr > th:nth-child(2) {
  text-align: right;
}

/* line 77, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.invoice-total > tbody > tr > td:first-child {
  text-align: right;
}

/* line 81, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.invoice-total > tbody > tr > td {
  border: 0 none;
}

/* line 85, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.invoice-total > tbody > tr > td:last-child {
  border-bottom: 1px solid #dddddd;
  text-align: right;
  width: 15%;
}

/* ERROR & LOGIN & LOCKSCREEN */
/* line 93, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

/* line 100, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.lockscreen.middle-box {
  width: 200px;
  padding-top: 110px;
}

/* line 105, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.loginscreen.middle-box {
  width: 300px;
}

/* line 109, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.loginColumns {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}

/* line 115, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.passwordBox {
  max-width: 460px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}

/* line 121, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.logo-name {
  color: #e6e6e6;
  font-size: 180px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0px;
}

/* line 129, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.middle-box h1 {
  font-size: 170px;
}

/* line 133, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.wrapper .middle-box {
  margin-top: 140px;
}

/* line 137, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.lock-word {
  z-index: 10;
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -470px;
}

/* line 145, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.lock-word span {
  font-size: 100px;
  font-weight: 600;
  color: #e9e9e9;
  display: inline-block;
}

/* line 152, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.lock-word .first-word {
  margin-right: 160px;
}

/* DASBOARD */
/* line 158, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.dashboard-header {
  border-top: 0;
  padding: 20px 20px 20px 20px;
}

/* line 163, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.dashboard-header h2 {
  margin-top: 10px;
  font-size: 26px;
}

/* line 168, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.fist-item {
  border-top: none !important;
}

/* line 172, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.statistic-box {
  margin-top: 40px;
}

/* line 176, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.dashboard-header .list-group-item span.label {
  margin-right: 10px;
}

/* line 180, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.list-group.clear-list .list-group-item {
  border-top: 1px solid #e7eaec;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  padding: 10px 0;
}

/* line 188, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.clear-list:first-child {
  border-top: none !important;
}

/* Intimeline */
/* line 194, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.timeline-item .date i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
  background: #f8f8f8;
}

/* line 207, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.timeline-item .date {
  text-align: right;
  width: 110px;
  position: relative;
  padding-top: 30px;
}

/* line 214, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.timeline-item .content {
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  padding-top: 10px;
  min-height: 100px;
}

/* line 221, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.timeline-item .content:hover {
  background: #f6f6f6;
}

/* PIN BOARD */
/* line 226, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li, ul.tag-list li {
  list-style: none;
}

/* line 230, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li h4 {
  margin-top: 20px;
  font-size: 16px;
}

/* line 235, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li div {
  text-decoration: none;
  color: black;
  background: #ffffcc;
  display: block;
  height: 140px;
  width: 140px;
  padding: 1em;
  position: relative;
}

/* line 246, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}

/* line 253, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li div a {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: inherit;
}

/* line 260, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li {
  margin: 10px 40px 50px 0px;
  float: left;
}

/* line 265, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li div p {
  font-size: 12px;
}

/* line 269, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li div {
  text-decoration: none;
  color: black;
  background: #ffffcc;
  display: block;
  height: 140px;
  width: 140px;
  padding: 1em;
  /* Firefox */
  -moz-box-shadow: 5px 5px 2px #212121;
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 2px rgba(33, 33, 33, 0.7);
  /* Opera */
  box-shadow: 5px 5px 2px rgba(33, 33, 33, 0.7);
}

/* line 285, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li div {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

/* line 291, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li:nth-child(even) div {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

/* line 299, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li:nth-child(3n) div {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

/* line 307, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li:nth-child(5n) div {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

/* line 315, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li div:hover, ul.notes li div:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  position: relative;
  z-index: 5;
}

/* line 323, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ul.notes li div {
  text-decoration: none;
  color: black;
  background: #ffffcc;
  display: block;
  height: 210px;
  width: 210px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}

/* FILE MANAGER */
/* line 341, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-box {
  float: left;
  width: 220px;
}

/* line 346, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-manager h5 {
  text-transform: uppercase;
}

/* line 350, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-manager {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

/* line 356, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.folder-list li a {
  color: #666666;
  display: block;
  padding: 5px 0;
}

/* line 362, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.folder-list li {
  border-bottom: 1px solid #e7eaec;
  display: block;
}

/* line 367, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.folder-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}

/* line 372, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.category-list li a {
  color: #666666;
  display: block;
  padding: 5px 0;
}

/* line 378, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.category-list li {
  display: block;
}

/* line 382, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.category-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}

/* line 387, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-navy {
  color: #1ab394;
}

/* line 391, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-primary {
  color: #1c84c6;
}

/* line 395, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-info {
  color: #23c6c8;
}

/* line 399, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-danger {
  color: #ef5352;
}

/* line 403, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.category-list li a .text-warning {
  color: #f8ac59;
}

/* line 407, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-manager h5.tag-title {
  margin-top: 20px;
}

/* line 411, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.tag-list li {
  float: left;
}

/* line 415, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.tag-list li a {
  font-size: 10px;
  background-color: #f3f3f4;
  padding: 5px 12px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

/* line 427, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file {
  border: 1px solid #e7eaec;
  padding: 0;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* line 436, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-manager .hr-line-dashed {
  margin: 15px 0;
}

/* line 440, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file .icon, .file .image {
  height: 100px;
  overflow: hidden;
}

/* line 445, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file .icon {
  padding: 15px 10px;
  text-align: center;
}

/* line 450, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-control {
  color: inherit;
  font-size: 11px;
  margin-right: 10px;
}

/* line 456, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-control.active {
  text-decoration: underline;
}

/* line 460, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file .icon i {
  font-size: 70px;
  color: #dadada;
}

/* line 465, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file .file-name {
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7eaec;
}

/* line 471, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-name small {
  color: #676a6c;
}

/* line 475, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.corner {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.6em solid transparent;
  border-right: 0.6em solid #f1f1f1;
  border-bottom: 0.6em solid #f1f1f1;
  right: 0em;
  bottom: 0em;
}

/* line 488, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
a.compose-mail {
  padding: 8px 10px;
}

/* line 492, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-search {
  max-width: 300px;
}

/* PROFILE */
/* line 498, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.profile-content {
  border-top: none !important;
}

/* line 502, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.profile-stats {
  margin-right: 10px;
}

/* line 506, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.profile-image {
  width: 120px;
  float: left;
}

/* line 511, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.profile-image img {
  width: 96px;
  height: 96px;
}

/* line 516, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.profile-info {
  margin-left: 120px;
}

/* line 520, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-activity-list .feed-element {
  border-bottom: 1px solid #e7eaec;
}

/* line 524, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element:first-child {
  margin-top: 0;
}

/* line 528, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element {
  padding-bottom: 15px;
}

/* line 532, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element, .feed-element .media {
  margin-top: 15px;
}

/* line 536, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element, .media-body {
  overflow: hidden;
}

/* line 540, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element > .pull-left {
  margin-right: 10px;
}

/* line 544, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
  width: 38px;
  height: 38px;
}

/* line 549, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element .well {
  border: 1px solid #e7eaec;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 11px;
  line-height: 16px;
}

/* line 559, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element .actions {
  margin-top: 10px;
}

/* line 563, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-element .photos {
  margin: 10px 0;
}

/* line 567, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.feed-photo {
  max-height: 180px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 575, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-list li {
  padding: 5px 10px;
  font-size: 11px;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-bottom: 5px;
}

/* line 584, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-list li a {
  color: inherit;
}

/* line 588, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.file-list li a:hover {
  color: #1ab394;
}

/* line 592, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.user-friends img {
  width: 42px;
  height: 42px;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* MAILBOX */
/* line 602, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-box {
  background-color: white;
  border: 1px solid #e7eaec;
  border-top: 0;
  padding: 0px;
  margin-bottom: 20px;
}

/* line 610, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-box-header {
  background-color: white;
  border: 1px solid #e7eaec;
  border-bottom: 0;
  padding: 30px 20px 20px 20px;
}

/* line 617, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-box-header h2 {
  margin-top: 0px;
}

/* line 621, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mailbox-content .tag-list li a {
  background: white;
}

/* line 625, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-body {
  border-top: 1px solid #e7eaec;
  padding: 20px;
}

/* line 630, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-text {
  border-top: 1px solid #e7eaec;
}

/* line 634, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-text .note-toolbar {
  padding: 10px 15px;
}

/* line 638, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-body .form-group {
  margin-bottom: 5px;
}

/* line 642, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-text .note-editor .note-toolbar {
  background-color: #f9f8f8;
}

/* line 646, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-attachment {
  border-top: 1px solid #e7eaec;
  padding: 20px;
  font-size: 12px;
}

/* line 652, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mailbox-content {
  background: none;
  border: none;
  padding: 10px;
}

/* line 658, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.mail-ontact {
  width: 23%;
}

/* PROJECTS */
/* line 663, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.project-people, .project-actions {
  text-align: right;
  vertical-align: middle;
}

/* line 668, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
dd.project-people {
  text-align: left;
  margin-top: 5px;
}

/* line 673, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.project-people img {
  width: 32px;
  height: 32px;
}

/* line 678, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.project-title a {
  font-size: 14px;
  color: #676a6c;
  font-weight: 600;
}

/* line 684, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.project-list table tr td {
  border-top: none;
  border-bottom: 1px solid #e7eaec;
  padding: 15px 10px;
  vertical-align: middle;
}

/* line 691, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.project-manager .tag-list li a {
  font-size: 10px;
  background-color: white;
  padding: 5px 12px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

/* line 703, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.project-files li a {
  font-size: 11px;
  color: #676a6c;
  margin-left: 10px;
  line-height: 22px;
}

/* FAQ */
/* line 712, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.faq-item {
  padding: 20px;
  margin-bottom: 2px;
  background: white;
}

/* line 718, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: #1ab394;
  display: block;
}

/* line 725, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.faq-question:hover {
  color: #179d82;
}

/* line 729, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.faq-answer {
  margin-top: 10px;
  background: #f3f3f4;
  border: 1px solid #e7eaec;
  border-radius: 3px;
  padding: 15px;
}

/* line 737, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.faq-item .tag-item {
  background: #f3f3f4;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
}

/* Chat view */
/* line 746, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.message-input {
  height: 90px !important;
}

/* line 750, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-avatar {
  white: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
}

/* line 757, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-user-name {
  padding: 10px;
}

/* line 761, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-user {
  padding: 8px 10px;
  border-bottom: 1px solid #e7eaec;
}

/* line 766, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-user a {
  color: inherit;
}

/* line 770, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-view {
  z-index: 20012;
}

/* line 774, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-users, .chat-statistic {
  margin-left: -30px;
}

@media (max-width: 992px) {
  /* line 779, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
  .chat-users, .chat-statistic {
    margin-left: 0px;
  }
}
/* line 783, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-view .ibox-content {
  padding: 0;
}

/* line 787, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-message {
  padding: 10px 20px;
}

/* line 791, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.message-avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  margin-top: 1px;
}

/* line 799, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.left .message-avatar {
  float: left;
  margin-right: 10px;
}

/* line 804, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.right .message-avatar {
  float: right;
  margin-left: 10px;
}

/* line 809, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.message {
  background-color: #fff;
  border: 1px solid #e7eaec;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}

/* line 819, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.left .message-date {
  float: right;
}

/* line 823, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.right .message-date {
  float: left;
}

/* line 827, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}

/* line 832, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-discussion .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}

/* line 837, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.message-date {
  font-size: 10px;
  color: #888888;
}

/* line 842, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.message-content {
  display: block;
}

/* line 846, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-discussion {
  background: #eee;
  padding: 15px;
  height: 400px;
  overflow-y: auto;
}

/* line 853, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-users {
  overflow-y: auto;
  height: 400px;
}

/* line 858, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.chat-message-form .form-group {
  margin-bottom: 0;
}

/* jsTree */
/* line 863, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.jstree-open > .jstree-anchor > .fa-folder:before {
  content: "\f07c";
}

/* line 867, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.jstree-default .jstree-icon.none {
  width: 0;
}

/* CLIENTS */
/* line 874, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.clients-list {
  margin-top: 20px;
}

/* line 878, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.clients-list .tab-pane {
  position: relative;
  height: 600px;
}

/* line 883, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.client-detail {
  position: relative;
  height: 620px;
}

/* line 888, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.clients-list table tr td {
  height: 46px;
  vertical-align: middle;
  border: none;
}

/* line 894, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.client-link {
  font-weight: 600;
  color: inherit;
}

/* line 899, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.client-link:hover {
  color: inherit;
}

/* line 903, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.client-avatar {
  width: 42px;
}

/* line 907, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.client-avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

/* line 913, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.contact-type {
  width: 20px;
  color: #c1c3c4;
}

/* line 918, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.client-status {
  text-align: left;
}

/* line 922, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.client-detail .vertical-timeline-content p {
  margin: 0;
}

/* line 926, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.client-detail .vertical-timeline-icon.gray-bg {
  color: #a7aaab;
}

/* line 931, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.clients-list .nav-tabs > li.active > a, .clients-list .nav-tabs > li.active > a:hover, .clients-list .nav-tabs > li.active > a:focus {
  border-bottom: 1px solid #fff;
}

/* BLOG ARTICLE */
/* line 937, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.blog h2 {
  font-weight: 700;
}

/* line 941, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.blog h5 {
  margin: 0 0 5px 0;
}

/* line 945, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.blog .btn {
  margin: 0 0 5px 0;
}

/* line 949, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.article h1 {
  font-size: 48px;
  font-weight: 700;
  color: #2F4050;
}

/* line 955, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.article p {
  font-size: 15px;
  line-height: 26px;
}

/* line 960, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.article-title {
  text-align: center;
  margin: 40px 0 100px 0;
}

/* line 965, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.article .ibox-content {
  padding: 40px;
}

/* ISSUE TRACKER */
/* line 971, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.issue-tracker .btn-link {
  color: #1ab394;
}

/* line 975, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
table.issue-tracker tbody tr td {
  vertical-align: middle;
  height: 50px;
}

/* line 980, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.issue-info {
  width: 50%;
}

/* line 984, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.issue-info a {
  font-weight: 600;
  color: #676a6c;
}

/* line 989, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.issue-info small {
  display: block;
}

/* TEAMS */
/* line 994, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.team-members {
  margin: 10px 0;
}

/* line 998, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.team-members img.img-circle {
  width: 42px;
  height: 42px;
  margin-bottom: 5px;
}

/* AGILE BOARD */
/* line 1006, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.sortable-list {
  padding: 10px 0;
}

/* line 1009, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.agile-list {
  list-style: none;
  margin: 0;
}

/* line 1013, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.agile-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0px 0 10px 0;
  padding: 10px;
  border-radius: 2px;
}

/* line 1021, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.agile-list li:hover {
  cursor: pointer;
  background: #fff;
}

/* line 1025, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.agile-list li.warning-element {
  border-left: 3px solid #f8ac59;
}

/* line 1028, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.agile-list li.danger-element {
  border-left: 3px solid #ed5565;
}

/* line 1031, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.agile-list li.info-element {
  border-left: 3px solid #1c84c6;
}

/* line 1034, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.agile-list li.success-element {
  border-left: 3px solid #1ab394;
}

/* line 1037, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.agile-detail {
  margin-top: 5px;
  font-size: 12px;
}

/* DIFF */
/* line 1043, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
ins {
  background-color: #c6ffc6;
  text-decoration: none;
}

/* line 1048, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
del {
  background-color: #ffc6c6;
}

/* E-commerce */
/* line 1054, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-box {
  padding: 0;
  border: 1px solid #e7eaec;
}

/* line 1060, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-box:hover,
.product-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 3px 7px 0px #a8a8a8;
  -moz-box-shadow: 0px 3px 7px 0px #a8a8a8;
  box-shadow: 0px 3px 7px 0px #a8a8a8;
}

/* line 1068, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-imitation {
  text-align: center;
  padding: 90px 0;
  background-color: #f8f8f9;
  color: #bebec3;
  font-weight: 600;
}

/* line 1076, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-imitation.xl {
  padding: 120px 0;
}

/* line 1080, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-desc {
  padding: 20px;
  position: relative;
}

/* line 1085, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.ecommerce .tag-list {
  padding: 0;
}

/* line 1089, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.ecommerce .fa-star {
  color: #d1dade;
}

/* line 1093, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.ecommerce .fa-star.active {
  color: #f8ac59;
}

/* line 1097, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}

/* line 1101, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}

/* line 1109, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-name:hover,
.product-name:focus {
  color: #1ab394;
}

/* line 1114, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1ab394;
  padding: 6px 12px;
  position: absolute;
  top: -32px;
  right: 0;
}

/* line 1126, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-detail .ibox-content {
  padding: 30px 30px 50px 30px;
}

/* line 1130, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.image-imitation {
  background-color: #f8f8f9;
  text-align: center;
  padding: 200px 0;
}

/* line 1137, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-main-price small {
  font-size: 10px;
}

/* line 1142, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.product-images {
  margin: 0 20px;
}

/* Social feed */
/* line 1147, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-feed-separated .social-feed-box {
  margin-left: 62px;
}

/* line 1151, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-feed-separated .social-avatar {
  float: left;
  padding: 0;
}

/* line 1156, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-feed-separated .social-avatar img {
  width: 52px;
  height: 52px;
  border: 1px solid #e7eaec;
}

/* line 1162, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-feed-separated .social-feed-box .social-avatar {
  padding: 15px 15px 0 15px;
  float: none;
}

/* line 1167, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-feed-box {
  /*padding: 15px;*/
  border: 1px solid #e7eaec;
  background: #fff;
  margin-bottom: 15px;
}

/* line 1174, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.article .social-feed-box {
  margin-bottom: 0;
  border-bottom: none;
}

/* line 1179, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.article .social-feed-box:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #e7eaec;
}

/* line 1184, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.article .social-feed-box p {
  font-size: 13px;
  line-height: 18px;
}

/* line 1189, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-action {
  margin: 15px;
}

/* line 1193, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-avatar {
  padding: 15px 15px 0 15px;
}

/* line 1197, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-comment .social-comment {
  margin-left: 45px;
}

/* line 1201, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-avatar img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

/* line 1207, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-avatar .media-body a {
  font-size: 14px;
  display: block;
}

/* line 1212, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-body {
  padding: 15px;
}

/* line 1216, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-body img {
  margin-bottom: 10px;
}

/* line 1220, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-footer {
  border-top: 1px solid #e7eaec;
  padding: 10px 15px;
  background: #f9f9f9;
}

/* line 1226, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-footer .social-comment img {
  width: 32px;
  margin-right: 10px;
}

/* line 1231, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-comment:first-child {
  margin-top: 0;
}

/* line 1235, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-comment {
  margin-top: 15px;
}

/* line 1239, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.social-comment textarea {
  font-size: 12px;
}

/* Vote list */
/* line 1246, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-item {
  padding: 20px 25px;
  background: #ffffff;
  border-top: 1px solid #e7eaec;
}

/* line 1252, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-item:last-child {
  border-bottom: 1px solid #e7eaec;
}

/* line 1256, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-item:hover {
  background: #fbfbfb;
}

/* line 1260, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-actions {
  float: left;
  width: 30px;
  margin-right: 15px;
  text-align: center;
}

/* line 1268, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-actions a {
  color: #1ab394;
  font-weight: 600;
}

/* line 1272, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-actions {
  font-weight: 600;
}

/* line 1276, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-title {
  display: block;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 2px;
}

/* line 1285, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-title:hover, .vote-title:focus {
  color: inherit;
}

/* line 1289, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-info, .vote-title {
  margin-left: 45px;
}

/* line 1293, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-info, .vote-info a {
  color: #b4b6b8;
  font-size: 12px;
}

/* line 1298, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-info a {
  margin-right: 10px;
}

/* line 1302, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-info a:hover {
  color: #1ab394;
}

/* line 1306, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-icon {
  text-align: right;
  font-size: 38px;
  display: block;
  color: #e8e9ea;
}

/* line 1313, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
.vote-icon.active {
  color: #1ab394;
}

/* line 1317, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/pages.scss */
body.body-small .vote-icon {
  display: none;
}
