/*
 *   SKIN 1 - INSPINIA - Responsive Admin Theme
 *   NAME - Blue light
 */
/* line 15, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}

/* line 19, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-top-links li:last-child {
  margin-right: 30px;
}

/* line 23, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 27, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .spin-icon {
  background: #0e9aef !important;
}

/* line 31, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header {
  background: #0e9aef;
  background: url("patterns/header-profile-skin-1.png");
}

/* line 36, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1.mini-navbar .nav-second-level {
  background: #3e495f;
}

/* line 40, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .breadcrumb {
  background: transparent;
}

/* line 44, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .page-heading {
  border: none;
}

/* line 48, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active {
  background: #3a4459;
}

/* line 52, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li > a {
  color: #9ea6b9;
}

/* line 56, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active > a {
  color: white;
}

/* line 60, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-minimalize {
  background: #0e9aef;
  border-color: #0e9aef;
}

/* line 65, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
body.skin-1 {
  background: #3e495f;
}

/* line 69, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-static-top {
  background: white;
}

/* line 73, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

/* line 80, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-1 .navbar-fixed-top {
  background: white;
}

/* line 84, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .wrapper-content {
  padding: 30px 15px;
}

/* line 88, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 #page-wrapper {
  background: #f4f6fa;
}

/* line 92, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .ibox-title, .skin-1 .ibox-content {
  border-width: 1px;
}

/* line 96, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 100, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav > li.active {
  border: none;
}

/* line 104, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header {
  padding: 35px 25px 25px 25px;
}

/* line 108, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header a.dropdown-toggle {
  color: white;
  margin-top: 10px;
}

/* line 113, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav-header a.dropdown-toggle .text-muted {
  color: white;
  opacity: 0.8;
}

/* line 118, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .profile-element {
  text-align: center;
}

/* line 122, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .img-circle {
  border-radius: 5px;
}

/* line 126, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .navbar-default .nav > li > a:hover, .skin-1 .navbar-default .nav > li > a:focus {
  background: #3a4459;
  color: white;
}

/* line 131, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 134, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-1 .nav.nav-tabs > li.active {
  background: transparent;
}

/*
 *   SKIN 2 - INSPINIA - Responsive Admin Theme
 *   NAME - Inspinia Ultra
 */
/* line 150, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
body.skin-2 {
  color: #565758 !important;
}

/* line 154, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .minimalize-styl-2 {
  margin: 14px 5px 5px 25px;
}

/* line 158, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-top-links li:last-child {
  margin-right: 25px;
}

/* line 162, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .spin-icon {
  background: #23c6c8 !important;
}

/* line 166, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header {
  background: #23c6c8;
  background: url("patterns/header-profile-skin-2.png");
}

/* line 171, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2.mini-navbar .nav-second-level {
  background: #ededed;
}

/* line 175, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .breadcrumb {
  background: transparent;
}

/* line 179, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 183, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .page-heading {
  border: none;
  background: rgba(255, 255, 255, 0.7);
}

/* line 188, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active {
  background: #e0e0e0;
}

/* line 192, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .logo-element {
  padding: 17px 0;
}

/* line 196, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li > a, .skin-2 .welcome-message {
  color: #edf6ff;
}

/* line 200, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 #top-search::-moz-placeholder {
  color: #edf6ff;
  opacity: 0.5;
}

/* line 205, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 #side-menu > li > a, .skin-2 .nav.nav-second-level > li > a {
  color: #586b7d;
}

/* line 209, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active > a {
  color: #213a53;
}

/* line 213, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2.mini-navbar .nav-header {
  background: #213a53;
}

/* line 217, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-minimalize {
  background: #23c6c8;
  border-color: #23c6c8;
}

/* line 222, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .border-bottom {
  border-bottom: none !important;
}

/* line 226, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 #top-search {
  color: white;
}

/* line 230, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
body.skin-2 #wrapper {
  background-color: #ededed;
}

/* line 234, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-static-top {
  background: #213a53;
}

/* line 238, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-2 .navbar-fixed-top {
  background: #213a53;
  border-bottom: none !important;
}

/* line 243, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header {
  padding: 30px 25px 30px 25px;
}

/* line 247, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .dashboard-header {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 20px 30px;
}

/* line 254, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .wrapper-content {
  padding: 30px 15px;
}

/* line 258, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .dashoard-1 .wrapper-content {
  padding: 0px 30px 25px 30px;
}

/* line 262, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-title {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  margin-bottom: 1px;
}

/* line 268, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-content {
  background: rgba(255, 255, 255, 0.4);
  border: none !important;
}

/* line 273, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 #page-wrapper {
  background: #f6f6f6;
  background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -o-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -ms-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: radial-gradient(ellipse at center, #f6f6f6 20%, #d5d5d5 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#d5d5d5)";
}

/* line 282, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-title, .skin-2 .ibox-content {
  border-width: 1px;
}

/* line 286, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 290, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav > li.active {
  border: none;
}

/* line 294, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header a.dropdown-toggle {
  color: #edf6ff;
  margin-top: 10px;
}

/* line 299, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav-header a.dropdown-toggle .text-muted {
  color: #edf6ff;
  opacity: 0.8;
}

/* line 304, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .img-circle {
  border-radius: 10px;
}

/* line 308, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.navbar-top-links > li > a:hover, .skin-2 .nav.navbar-top-links > li > a:focus {
  background: #1a2d41;
}

/* line 312, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .navbar-default .nav > li > a:hover, .skin-2 .navbar-default .nav > li > a:focus {
  background: #e0e0e0;
  color: #213a53;
}

/* line 317, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 320, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-2 .nav.nav-tabs > li.active {
  background: transparent;
}

/*
 *   SKIN 3 - INSPINIA - Responsive Admin Theme
 *   NAME - Yellow/purple
 */
/* line 336, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}

/* line 340, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-top-links li:last-child {
  margin-right: 30px;
}

/* line 344, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

/* line 348, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .spin-icon {
  background: #ecba52 !important;
}

/* line 352, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
body.boxed-layout.skin-3 #wrapper {
  background: #3e2c42;
}

/* line 356, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header {
  background: #ecba52;
  background: url("patterns/header-profile-skin-3.png");
}

/* line 361, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3.mini-navbar .nav-second-level {
  background: #3e2c42;
}

/* line 365, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .breadcrumb {
  background: transparent;
}

/* line 369, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .page-heading {
  border: none;
}

/* line 373, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active {
  background: #38283c;
}

/* line 377, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.fixed-nav.skin-3 .navbar-fixed-top {
  background: white;
}

/* line 381, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li > a {
  color: #948b96;
}

/* line 385, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active > a {
  color: white;
}

/* line 389, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-minimalize {
  background: #ecba52;
  border-color: #ecba52;
}

/* line 394, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
body.skin-3 {
  background: #3e2c42;
}

/* line 398, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-static-top {
  background: white;
}

/* line 402, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}

/* line 409, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .wrapper-content {
  padding: 30px 15px;
}

/* line 413, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 #page-wrapper {
  background: #f4f6fa;
}

/* line 417, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .ibox-title, .skin-3 .ibox-content {
  border-width: 1px;
}

/* line 421, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .ibox-content:last-child {
  border-style: solid solid solid solid;
}

/* line 425, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav > li.active {
  border: none;
}

/* line 429, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header {
  padding: 35px 25px 25px 25px;
}

/* line 433, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header a.dropdown-toggle {
  color: white;
  margin-top: 10px;
}

/* line 438, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav-header a.dropdown-toggle .text-muted {
  color: white;
  opacity: 0.8;
}

/* line 443, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .profile-element {
  text-align: center;
}

/* line 447, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .img-circle {
  border-radius: 5px;
}

/* line 451, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .navbar-default .nav > li > a:hover, .skin-3 .navbar-default .nav > li > a:focus {
  background: #38283c;
  color: white;
}

/* line 457, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav.nav-tabs > li.active > a {
  color: #555;
}

/* line 460, /home/sandbox/Desktop/RubymineProjects/code_store/app/assets/stylesheets/base/skins.scss */
.skin-3 .nav.nav-tabs > li.active {
  background: transparent;
}
