<p id="notice"><%= notice %></p>

<p>
  <strong>Related script:</strong>
  <%= @related_script.related_script %>
</p>

<%= link_to 'Edit', edit_related_script_path(@related_script) %> |
<%= link_to 'Back', related_scripts_path %>
