<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2><%= t 'labels.cart.page_header' %></h2>
  </div>
</div>
<div class="row wrapper border-bottom">
  <div id="form_resume_cart">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'carts/form_resume_cart', carts: @carts %>
      </div>
    </div>
  </div>
</div>