<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2><%= t 'labels.cart.page_header' %></h2>
  </div>
</div>
<div class="row wrapper border-bottom">
  <% if @carts.size > 0 %>
      <div id="form_resume_cart">
        <%= render 'carts/form_resume_cart', carts: @carts %>
      </div>
  <% else %>
      <div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row-fluid">
              <div class="col-md-10">
                <p>Sem itens no carrinho</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>