<div class="middle-box text-center animated fadeInDown">
  <h1>404</h1>
  <h3 class="font-bold">Pagina não encontrada</h3>

  <div class="error-desc">
    O recurso requisitado não foi encontrado.
    <br>
    <p><%= link_to "Back", :back, class:'btn btn-primary' %></p>
  </div>
</div>

