<div class="middle-box text-center animated fadeInDown">
  <h1>422</h1>
  <h3 class="font-bold">Entidade improcessável</h3>

  <div class="error-desc">
    O pedido foi bem formado, mas era incapaz de ser seguido devido a erros de semântica.
    <br>
    <p><%= link_to "Back", :back, class:'btn btn-primary' %></p>
  </div>
</div>

