<div class="middle-box text-center animated fadeInDown">
  <h1>500</h1>
  <h3 class="font-bold">Erro interno do servidor</h3>

  <div class="error-desc">
    Desculpe pelo transtorno, Isto deve ser uma condição temporária.
    <br>
    <p><%= link_to "Back", :back, class:'btn btn-primary' %></p>

  </div>
</div>

