<div id="wrapper">
  <%= render 'layouts/side_bar' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h2>Edit Price: </h2>
      </div>
    </div>
    <hr>
    <%= render 'form' %>

  </div>
</div>