<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Editar Preço</h2>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>