<div id="wrapper">
  <%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12 text-center">
        <label><h2>Search</h2></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul>
          <% ProcessModule.where("referrer_process_module_id is null").each do |process| %>
              <li><%= process.description %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <br>

  </div>
</div>