// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tronik-1x {
  font-size: 1em;
  //TODO refactory margin
}

.tronik-2x {
  font-size: 2em;
  //TODO refactory margin
}

.tronik-3x {
  font-size: 3em;
  //TODO refactory margin
}

.tronik-4x {
  font-size: 4em;
  //TODO refactory margin
}

.tronik-5x {
  font-size: 5em;
  //TODO refactory margin
}

.tronik-6x {
  font-size: 6em;
  margin: 0px 0px 0px -11px;
}

.tronik-7x {
  font-size: 7em;
  margin: -13px 0px 0px -19px;
}
.tronik-8x {
  font-size: 8em;
  margin: -15px 0px 0px -25px;
}

.tronik-dash {
  position: absolute;
  line-height: 1em;
}
