@font-face {
  font-family: 'typicons';
  src: font-url('typicons.eot');
  src: font-url('typicons.eot?#iefix') format('embedded-opentype'),
  font-url('typicons.woff') format('woff'),
  font-url('typicons.ttf') format('truetype'),
  font-url('typicons.svg#typicons') format('svg');
  font-weight: normal;
  font-style: normal;
}