//.nav-pills.nav-wizard > li {
//  position: relative;
//  overflow: visible;
//  border-right: 15px solid #fff;
//  border-left: 15px solid #fff;
//}
//.nav-pills.nav-wizard > li:first-child {
//  border-left: 0;
//}
//.nav-pills.nav-wizard > li:first-child a {
//  border-radius: 5px 0 0 5px;
//}
//.nav-pills.nav-wizard > li:last-child {
//  border-right: 0;
//}
//.nav-pills.nav-wizard > li:last-child a {
//  border-radius: 0 5px 5px 0;
//}
//.nav-pills.nav-wizard > li a {
//  border-radius: 0;
//  background-color: #eee;
//}
//.nav-pills.nav-wizard > li .nav-arrow {
//  position: absolute;
//  top: 0px;
//  right: -20px;
//  width: 20px;
//  height: 0px;
//  border-style: solid;
//  border-width: 18px 0 20px 19px;
//  border-color: transparent transparent transparent #eee;
//  z-index: 150;
//}
//.nav-pills.nav-wizard > li .nav-wedge {
//  position: absolute;
//  top: 0px;
//  left: -20px;
//  width: 20px;
//  height: 0px;
//  border-style: solid;
//  border-width: 18px 0 20px 19px;
//  border-color: #eee #eee #eee transparent;
//  z-index: 150;
//}
//.nav-pills.nav-wizard > li:hover .nav-arrow {
//  border-color: transparent transparent transparent #aaa;
//}
//.nav-pills.nav-wizard > li:hover .nav-wedge {
//  border-color: #aaa #aaa #aaa transparent;
//}
//.nav-pills.nav-wizard > li:hover a {
//  background-color: #aaa;
//  color: #fff;
//}
//.nav-pills.nav-wizard > li.active .nav-arrow {
//  border-color: transparent transparent transparent #428bca;
//}
//.nav-pills.nav-wizard > li.active .nav-wedge {
//  border-color: #428bca #428bca #428bca transparent;
//}
//.nav-pills.nav-wizard > li.active a {
//  background-color: #428bca;
//}

div[role="painel_process"] {
  height: 400px;
}

div[role="hub_process"] {
  height: 300px;
}

div[role="hub_process"] > div  {
  height: 150px;

}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}
.white, .white a {
  color: #fff;
  background-color: transparent;
}
.btn-group.active, .btn-group:active {
  background-color: #fff;
}

.list_process {
  max-height: 167px;
  overflow-y:scroll;
}
