.klustter-lounge-logo {
  width: 398px;
  height: 447px;
  margin: -0 0 0 -43px;
}
.header-lounge{
  color: #FBA51A;
}

.slick .ibox-content {
  margin: 0 10px;
}

.slick .ibox-content img {
  margin-left: 70px;
}

.slick .ibox-content img .truncate{
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landing-page-box-results {
  height: 563px;
}
.landing-contatc-form{
  margin-left: 332px;
  width:80%
}