/* line 4, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.search-result-link .upmin-model {
  margin-bottom: 10px;
}

/* line 9, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model {
  padding: 20px;
  margin: 10px 0px 250px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.yellow {
  border-left-color: #F1C40F;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.yellow > h3, .upmin-model.yellow > h4 {
  color: #F1C40F;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.yellow > h3 > a, .upmin-model.yellow > h4 > a {
  color: #F1C40F;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.orange {
  border-left-color: #F39C12;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.orange > h3, .upmin-model.orange > h4 {
  color: #F39C12;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.orange > h3 > a, .upmin-model.orange > h4 > a {
  color: #F39C12;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.red {
  border-left-color: #E74C3C;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.red > h3, .upmin-model.red > h4 {
  color: #E74C3C;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.red > h3 > a, .upmin-model.red > h4 > a {
  color: #E74C3C;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_red {
  border-left-color: #AB3326;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_red > h3, .upmin-model.dark_red > h4 {
  color: #AB3326;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_red > h3 > a, .upmin-model.dark_red > h4 > a {
  color: #AB3326;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.purple {
  border-left-color: #9B59B6;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.purple > h3, .upmin-model.purple > h4 {
  color: #9B59B6;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.purple > h3 > a, .upmin-model.purple > h4 > a {
  color: #9B59B6;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_blue {
  border-left-color: #2C3E50;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_blue > h3, .upmin-model.dark_blue > h4 {
  color: #2C3E50;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_blue > h3 > a, .upmin-model.dark_blue > h4 > a {
  color: #2C3E50;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.light_blue {
  border-left-color: #3498DB;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.light_blue > h3, .upmin-model.light_blue > h4 {
  color: #3498DB;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.light_blue > h3 > a, .upmin-model.light_blue > h4 > a {
  color: #3498DB;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.blue_green {
  border-left-color: #18BC9C;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.blue_green > h3, .upmin-model.blue_green > h4 {
  color: #18BC9C;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.blue_green > h3 > a, .upmin-model.blue_green > h4 > a {
  color: #18BC9C;
}
/* line 20, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.green {
  border-left-color: #01C94F;
}
/* line 22, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.green > h3, .upmin-model.green > h4 {
  color: #01C94F;
}
/* line 24, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.green > h3 > a, .upmin-model.green > h4 > a {
  color: #01C94F;
}
/* line 31, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model h3 {
  margin-top: 6px;
  font-size: 1.3em;
}
/* line 35, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model h4 {
  margin-top: 4px;
  font-size: 1.1em;
}
/* line 39, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model h5 {
  margin-top: 24px;
  margin-bottom: 6px;
}
/* line 43, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model h6 {
  margin-top: 20px;
  margin-bottom: 6px;
}
/* line 48, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model dd {
  word-wrap: break-word;
}
/* line 53, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model .collection-search {
  margin-top: 10px;
  font-size: 1.1em;
}
/* line 59, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model .collection-search .input-group-btn button.btn-default {
  padding: 9px;
}
/* line 65, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model input {
  height: 40px;
  font-size: 1.1em;
}
/* line 70, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model .well {
  padding: 9px;
  margin-bottom: 0;
  min-height: 40px;
}
/* line 75, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model .well.action-well {
  margin-bottom: 32px;
}
/* line 80, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model a.active-tag-link {
  text-decoration: none;
}
/* line 82, /home/sandbox/rubystack-2.0.0-30/ruby/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model a.active-tag-link .label {
  padding: 4px 6px 5px 6px;
}
