<!--Fim Avatar-->
<!--Inicio Pesquisa-->
<li>
  <%= link_to searches_path do %>
      <i class="fa fa-search fa-fw" aria-hidden="true"></i><span class="nav-label"> Find Solutions </span>
  <% end %>
</li>
<!--Fim Pesquisa -->
<!--Inicio Dashboard-->
<li>
  <%= link_to members_path do %>
      <i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span>
  <% end %>
</li>
<!--Fim Dashboard-->
<!--Incio Conta Corrente-->
<li>
  <%= link_to checking_accounts_path do %>
      <i class="fa fa-cc fa-fw" aria-hidden="true"></i> <span class="nav-label">Checking Account </span>
  <% end %>
</li>
<!--Fim Conta Corrente-->
