<div class="row">
<%=
  color = 'navy-bg'
  icon = 'typcn typcn-shopping-cart typcn-4x typcn-dash'
  header_description = t 'labels.dash_orders'
  header_count = CheckingAccount.joins(:invoice).where('invoices.user_id = ?', current_user.id).count
  link_path = checking_accounts_path
  widget_dash_board(color, icon, header_description, header_count, link_path)
%>

<% Status.all.each do |status| %>
    <%=
      color = dash_status_script_panel_color(status.id)
      icon = dash_status_script_icon(status.id)
      header_description = dash_status_script_friendly_description(status.id)
      header_count = get_all_my_scripts(current_user.member.id, status.id).count
      link_path = contributor_scripts_path(status_id: status.id)
      widget_dash_board(color, icon, header_description, header_count, link_path)
    %>
<% end %>
</div>