<h3>Painel Scripts</h3>
<div class="panel panel-default">
  <div class="panel-heading">
    Scripts Vendidos
  </div>
  <div class="panel-body">
    <%= line_chart Invoice.group_by_day(:pay_date).count %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Scripts Criados
  </div>
  <div class="panel-body">
    <%= line_chart Script.group_by_day(:created_at).count %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Scripts Status
  </div>
  <div class="panel-body">
    1-Gravado <br>
    2-Verificação de Duplicidade<br>
    3-Verificação de Consistência<br>
    4-Verficação de Complexidade<br>
    5-Aprovado<br>
    6-Inicial
    <%= pie_chart Script.group(:status_id).count %>
  </div>
</div>