<div id="wrapper">
<%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h1>Listing Scripts</h1>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <%= link_to new_script_path, :class => 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row" role="contributor_dashboard">
        <div class="col-md-12">
          <div class="panel panel-default center">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-condensed" id="script-table" data-source="<%= contributor_members_path(format: :json) %>">
                  <thead>
                  <tr>
                    <th>Script id</th>
                    <th>Description</th>
                    <th>Definition</th>
                    <th>Platform</th>
                    <th>Industry</th>
                    <th>Complexity</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>