<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-12">
    <h2>Dashboard</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= render 'dash_dials_contributor' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <!-- render 'dash_notification_panel'-->
  </div>
  <div class="col-lg-8">
    <!-- render 'dash_chat' -->
  </div>
</div>



