<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Dashboard</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <h2>Funções Cliente</h2>
  <%= render 'dash_dials_costumer' %>
  <h2>Funções Parceiro</h2>
  <%= render 'dash_dials_contributor' %>
</div>