<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Dashboard</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <%= render 'dash_dials_costumer' %>
</div>
