<p id="notice"><%= notice %></p>

<h1>Members</h1>

<% if @member.contributor %>
    <%= link_to 'Contributors Dashboard', controller: "members", action: "contributor", id: @member.id %> <br>
<% end %>

<% if @member.customer %>
    <%= link_to 'Customers Dashboard', controller: "members", action: "customer", id: @member.id  %>
<% end %>

