<div class="container">
  <div class="panel panel-default center">
    <div class="panel-heading center"><h1>Dashboard</h1></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <% if @member.contributor %>
                  <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Notifications!</div>
                          </div>
                        </div>
                      </div>
                      <%= link_to controller: "members", action: "contributor" do %>
                          <div class="panel-footer">
                            <div class="page-header">
                              <h2>Contribuitors <br> <small>Text text text</small></h2>
                            </div>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                          </div>
                      <% end %>
                    </div>
                  </div>
              <% end %>
              <% if @member.customer %>
                  <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Notifications!</div>
                          </div>
                        </div>
                      </div>
                      <%= link_to controller: "members", action: "customer" do %>
                          <div class="panel-footer">
                            <div class="page-header">
                              <h2>Costumer <br> <small>Text text text</small></h2>
                            </div>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                          </div>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


