<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Area Inicial</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel panel-default center">
    <div class="panel-body">
      <%= get_message_lounge %>
    </div>
  </div>
</div>



