<div class="row wrapper border-bottom white-bg page-heading">
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <%= raw t 'labels.members_louge'%>
      </div>
    </div>
  </div>
</div>



